# Proceso ETL para obtener la serie completa de natalidad (1975-2023)

In [1]:
import pandas as pd
import re
from scipy.interpolate import interp1d
import numpy as np

In [ ]:
#Natalidad 
natalidad=pd.read_csv("/home/pablo/Documentos/CSVs TFG/Natalidad_bruta_nacional.csv", sep=";")
natalidad=natalidad.drop(columns=["Totales Territoriales"])
natalidad=natalidad.rename(columns={"Total": "Tasa Natalidad bruta"})
natalidad

    Periodo Tasa Natalidad bruta
0      2023                 6,61
1      2022                 6,88
2      2021                  7,1
3      2020                 7,19
4      2019                 7,62
5      2018                 7,94
6      2017                 8,41
7      2016                  8,8
8      2015                 9,02
9      2014                 9,18
10     2013                 9,11
11     2012                  9,7
12     2011                10,07
13     2010                10,42
14     2009                10,65
15     2008                11,28
16     2007                10,86
17     2006                10,85
18     2005                10,65
19     2004                10,57
20     2003                10,44
21     2002                10,08
22     2001                 9,94
23     2000                 9,78
24     1999                 9,39
25     1998                 9,06
26     1997                  9,2
27     1996                 9,07
28     1995                 9,15
29     1994                 9,35
30     1993                  9,8
31     1992                10,13
32     1991                10,16
33     1990                10,32
34     1989                10,51
35     1988                10,79
36     1987                11,02
37     1986                11,36
38     1985                11,85
39     1984                12,34
40     1983                12,71
41     1982                13,57
42     1981                 14,1
43     1980                15,22
44     1979                16,17
45     1978                17,25
46     1977                17,96
47     1976                18,73
48     1975                 18,7

In [ ]:
natalidad.iloc[:,0]=pd.to_numeric(natalidad.iloc[:,0], errors='coerce')
natalidad.iloc[:,1]=natalidad.iloc[:,1].str.replace(',', '.').astype(float)
natalidad.iloc[:,1]=pd.to_numeric(natalidad.iloc[:,1], errors='coerce')

In [6]:
natalidad

    Periodo Tasa Natalidad bruta
0      2023                 6.61
1      2022                 6.88
2      2021                  7.1
3      2020                 7.19
4      2019                 7.62
5      2018                 7.94
6      2017                 8.41
7      2016                  8.8
8      2015                 9.02
9      2014                 9.18
10     2013                 9.11
11     2012                  9.7
12     2011                10.07
13     2010                10.42
14     2009                10.65
15     2008                11.28
16     2007                10.86
17     2006                10.85
18     2005                10.65
19     2004                10.57
20     2003                10.44
21     2002                10.08
22     2001                 9.94
23     2000                 9.78
24     1999                 9.39
25     1998                 9.06
26     1997                  9.2
27     1996                 9.07
28     1995                 9.15
29     1994                 9.35
30     1993                  9.8
31     1992                10.13
32     1991                10.16
33     1990                10.32
34     1989                10.51
35     1988                10.79
36     1987                11.02
37     1986                11.36
38     1985                11.85
39     1984                12.34
40     1983                12.71
41     1982                13.57
42     1981                 14.1
43     1980                15.22
44     1979                16.17
45     1978                17.25
46     1977                17.96
47     1976                18.73
48     1975                 18.7

In [ ]:
def linear_interpolation_between_two_points(x1, y1, x2, y2, num_points):
    
    #Genero puntos equidistantes entre x1 y x2
    x_values=np.linspace(x1, x2, num_points)
    
    #Calculo los valores interpolados
    y_values=y1 + (y2 - y1) * (x_values - x1) / (x2 - x1)
    
    return x_values, y_values

In [ ]:
def rellenar_natalidad(i=0,num_points=13):
    total_x=[]
    total_y=[]

    while i<len(natalidad)-1:

        try:
            x1, y1=natalidad.iloc[i,0], natalidad.iloc[i,1]
            x2, y2=natalidad.iloc[i+1,0], natalidad.iloc[i+1,1]
        except:
            print("error")

        interpolated_x_values, interpolated_y_values=linear_interpolation_between_two_points(x1, y1, x2, y2, num_points)
        
        if i!=len(natalidad)-2:
            interpolated_x_values=np.delete(interpolated_x_values, -1)
            interpolated_y_values=np.delete(interpolated_y_values, -1)

        total_x.append(interpolated_x_values)
        total_y.append(interpolated_y_values)


        i=i+1
        
        #print(diciembre)
        #print(lista)
    resultado_x=np.concatenate(total_x, axis=0)
    resultado_y=np.concatenate(total_y, axis=0)
    return resultado_x, resultado_y

In [9]:
ano_x,natalidad_y=rellenar_natalidad()

In [10]:
ano_x=list(ano_x)

In [11]:
x=0
while x<len(ano_x):
    ano_x[x]=str(ano_x[x])
    x=x+1

In [12]:
diccionario_valores={".0":".12",
                      ".9166666666667":".11",
                        ".8333333333333":".10",
                        ".75":".9",
                        ".6666666666667":".8",
                        ".5833333333333":".7",
                        ".5":".6",
                        ".4166666666667":".5",
                        ".3333333333333":".4",
                        ".25":".3",
                        ".1666666666667":".2",
                        ".0833333333333":".1"}

In [13]:
x=0
nuevo_ano=[]

while x<len(ano_x):

    if ano_x[x][4:]!=".0":
        xaumento=int(ano_x[x].split(".")[0])+1
        xreal=diccionario_valores[f"{ano_x[x][4:]}"]
        xfinal=f"{xaumento}{xreal}"
    else:
        xsinaumento=ano_x[x].split(".")[0]
        xreal=diccionario_valores[f"{ano_x[x][4:]}"]
        xfinal=f"{xsinaumento}{xreal}"

    nuevo_ano.append(xfinal)

    x=x+1
print(nuevo_ano)

['2023.12', '2023.11', '2023.10', '2023.9', '2023.8', '2023.7', '2023.6', '2023.5', '2023.4', '2023.3', '2023.2', '2023.1', '2022.12', '2022.11', '2022.10', '2022.9', '2022.8', '2022.7', '2022.6', '2022.5', '2022.4', '2022.3', '2022.2', '2022.1', '2021.12', '2021.11', '2021.10', '2021.9', '2021.8', '2021.7', '2021.6', '2021.5', '2021.4', '2021.3', '2021.2', '2021.1', '2020.12', '2020.11', '2020.10', '2020.9', '2020.8', '2020.7', '2020.6', '2020.5', '2020.4', '2020.3', '2020.2', '2020.1', '2019.12', '2019.11', '2019.10', '2019.9', '2019.8', '2019.7', '2019.6', '2019.5', '2019.4', '2019.3', '2019.2', '2019.1', '2018.12', '2018.11', '2018.10', '2018.9', '2018.8', '2018.7', '2018.6', '2018.5', '2018.4', '2018.3', '2018.2', '2018.1', '2017.12', '2017.11', '2017.10', '2017.9', '2017.8', '2017.7', '2017.6', '2017.5', '2017.4', '2017.3', '2017.2', '2017.1', '2016.12', '2016.11', '2016.10', '2016.9', '2016.8', '2016.7', '2016.6', '2016.5', '2016.4', '2016.3', '2016.2', '2016.1', '2015.12', '2015.11', '2015.10', '2015.9', '2015.8', '2015.7', '2015.6', '2015.5', '2015.4', '2015.3', '2015.2', '2015.1', '2014.12', '2014.11', '2014.10', '2014.9', '2014.8', '2014.7', '2014.6', '2014.5', '2014.4', '2014.3', '2014.2', '2014.1', '2013.12', '2013.11', '2013.10', '2013.9', '2013.8', '2013.7', '2013.6', '2013.5', '2013.4', '2013.3', '2013.2', '2013.1', '2012.12', '2012.11', '2012.10', '2012.9', '2012.8', '2012.7', '2012.6', '2012.5', '2012.4', '2012.3', '2012.2', '2012.1', '2011.12', '2011.11', '2011.10', '2011.9', '2011.8', '2011.7', '2011.6', '2011.5', '2011.4', '2011.3', '2011.2', '2011.1', '2010.12', '2010.11', '2010.10', '2010.9', '2010.8', '2010.7', '2010.6', '2010.5', '2010.4', '2010.3', '2010.2', '2010.1', '2009.12', '2009.11', '2009.10', '2009.9', '2009.8', '2009.7', '2009.6', '2009.5', '2009.4', '2009.3', '2009.2', '2009.1', '2008.12', '2008.11', '2008.10', '2008.9', '2008.8', '2008.7', '2008.6', '2008.5', '2008.4', '2008.3', '2008.2', '2008.1', '2007.12', '2007.11', '2007.10', '2007.9', '2007.8', '2007.7', '2007.6', '2007.5', '2007.4', '2007.3', '2007.2', '2007.1', '2006.12', '2006.11', '2006.10', '2006.9', '2006.8', '2006.7', '2006.6', '2006.5', '2006.4', '2006.3', '2006.2', '2006.1', '2005.12', '2005.11', '2005.10', '2005.9', '2005.8', '2005.7', '2005.6', '2005.5', '2005.4', '2005.3', '2005.2', '2005.1', '2004.12', '2004.11', '2004.10', '2004.9', '2004.8', '2004.7', '2004.6', '2004.5', '2004.4', '2004.3', '2004.2', '2004.1', '2003.12', '2003.11', '2003.10', '2003.9', '2003.8', '2003.7', '2003.6', '2003.5', '2003.4', '2003.3', '2003.2', '2003.1', '2002.12', '2002.11', '2002.10', '2002.9', '2002.8', '2002.7', '2002.6', '2002.5', '2002.4', '2002.3', '2002.2', '2002.1', '2001.12', '2001.11', '2001.10', '2001.9', '2001.8', '2001.7', '2001.6', '2001.5', '2001.4', '2001.3', '2001.2', '2001.1', '2000.12', '2000.11', '2000.10', '2000.9', '2000.8', '2000.7', '2000.6', '2000.5', '2000.4', '2000.3', '2000.2', '2000.1', '1999.12', '1999.11', '1999.10', '1999.9', '1999.8', '1999.7', '1999.6', '1999.5', '1999.4', '1999.3', '1999.2', '1999.1', '1998.12', '1998.11', '1998.10', '1998.9', '1998.8', '1998.7', '1998.6', '1998.5', '1998.4', '1998.3', '1998.2', '1998.1', '1997.12', '1997.11', '1997.10', '1997.9', '1997.8', '1997.7', '1997.6', '1997.5', '1997.4', '1997.3', '1997.2', '1997.1', '1996.12', '1996.11', '1996.10', '1996.9', '1996.8', '1996.7', '1996.6', '1996.5', '1996.4', '1996.3', '1996.2', '1996.1', '1995.12', '1995.11', '1995.10', '1995.9', '1995.8', '1995.7', '1995.6', '1995.5', '1995.4', '1995.3', '1995.2', '1995.1', '1994.12', '1994.11', '1994.10', '1994.9', '1994.8', '1994.7', '1994.6', '1994.5', '1994.4', '1994.3', '1994.2', '1994.1', '1993.12', '1993.11', '1993.10', '1993.9', '1993.8', '1993.7', '1993.6', '1993.5', '1993.4', '1993.3', '1993.2', '1993.1', '1992.12', '1992.11', '1992.10', '1992.9', '1992.8', '1992.7', '1992.6', '1992.5', '1992.4', '1992.3', '1992.2', '1992.1', '1991.12', '1991.11', '1991.10', '1991.9', '1991.8', '1991.7', '1991.6', '1991.5', '1991.4', '1991.3', '1991.2', '1991.1', '1990.12', '1990.11', '1990.10', '1990.9', '1990.8', '1990.7', '1990.6', '1990.5', '1990.4', '1990.3', '1990.2', '1990.1', '1989.12', '1989.11', '1989.10', '1989.9', '1989.8', '1989.7', '1989.6', '1989.5', '1989.4', '1989.3', '1989.2', '1989.1', '1988.12', '1988.11', '1988.10', '1988.9', '1988.8', '1988.7', '1988.6', '1988.5', '1988.4', '1988.3', '1988.2', '1988.1', '1987.12', '1987.11', '1987.10', '1987.9', '1987.8', '1987.7', '1987.6', '1987.5', '1987.4', '1987.3', '1987.2', '1987.1', '1986.12', '1986.11', '1986.10', '1986.9', '1986.8', '1986.7', '1986.6', '1986.5', '1986.4', '1986.3', '1986.2', '1986.1', '1985.12', '1985.11', '1985.10', '1985.9', '1985.8', '1985.7', '1985.6', '1985.5', '1985.4', '1985.3', '1985.2', '1985.1', '1984.12', '1984.11', '1984.10', '1984.9', '1984.8', '1984.7', '1984.6', '1984.5', '1984.4', '1984.3', '1984.2', '1984.1', '1983.12', '1983.11', '1983.10', '1983.9', '1983.8', '1983.7', '1983.6', '1983.5', '1983.4', '1983.3', '1983.2', '1983.1', '1982.12', '1982.11', '1982.10', '1982.9', '1982.8', '1982.7', '1982.6', '1982.5', '1982.4', '1982.3', '1982.2', '1982.1', '1981.12', '1981.11', '1981.10', '1981.9', '1981.8', '1981.7', '1981.6', '1981.5', '1981.4', '1981.3', '1981.2', '1981.1', '1980.12', '1980.11', '1980.10', '1980.9', '1980.8', '1980.7', '1980.6', '1980.5', '1980.4', '1980.3', '1980.2', '1980.1', '1979.12', '1979.11', '1979.10', '1979.9', '1979.8', '1979.7', '1979.6', '1979.5', '1979.4', '1979.3', '1979.2', '1979.1', '1978.12', '1978.11', '1978.10', '1978.9', '1978.8', '1978.7', '1978.6', '1978.5', '1978.4', '1978.3', '1978.2', '1978.1', '1977.12', '1977.11', '1977.10', '1977.9', '1977.8', '1977.7', '1977.6', '1977.5', '1977.4', '1977.3', '1977.2', '1977.1', '1976.12', '1976.11', '1976.10', '1976.9', '1976.8', '1976.7', '1976.6', '1976.5', '1976.4', '1976.3', '1976.2', '1976.1', '1975.12']

In [14]:
data={"Periodo":nuevo_ano,"Tasa Natalidad bruta":natalidad_y}
natalidad=pd.DataFrame(data)

In [15]:
natalidad

     Periodo  Tasa Natalidad bruta
0    2023.12                6.6100
1    2023.11                6.6325
2    2023.10                6.6550
3     2023.9                6.6775
4     2023.8                6.7000
..       ...                   ...
572   1976.4               18.7100
573   1976.3               18.7075
574   1976.2               18.7050
575   1976.1               18.7025
576  1975.12               18.7000

[577 rows x 2 columns]

In [ ]:
#Guardo en CSV
natalidad.to_csv("SerieCompletaNatalidad.csv", index=False)

In [ ]:
def convertir_periodo_a_fecha(df, columna_periodo="Periodo"):
    df[columna_periodo]=df[columna_periodo].astype(str).apply(lambda x: f"{x.split('.')[0]}-{int(x.split('.')[1]):02d}")

    df[columna_periodo]=pd.to_datetime(df[columna_periodo], format='%Y-%m') + pd.offsets.MonthEnd(1)

    return df

In [18]:
natalidad=convertir_periodo_a_fecha(natalidad)

In [20]:
natalidad.to_csv("SerieCompletaNatalidadConFechas.csv", index=False)

In [21]:
len(natalidad["Periodo"])

577